{% extends "template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block header %}{{ super() }}{% endblock %}
{% block main %}
<figure class="text-center position-absolute top-50 start-50 translate-middle">
	<img src="https://avatars.githubusercontent.com/u/82741688?v=4" class="rounded-circle mx-auto d-block" alt="" width="50%">
	<figcaption class="text-primary">Kyle Sin Lynn</figcaption>
</figure>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}